body{
    margin: 0;
}

.link {
    stroke: #ccc;
}

.node text {
    pointer-events: none;
    font: 10px sans-serif;
    color: black;
}

#graph{
    border: 1px solid black;
    width: 650px;
    height: 400px;
    margin:0px auto;
    margin-top: 20px;
    border-radius: 10px;
}

.input-group{
    margin:0px auto;
    margin-top: 5px;
}

.about{
    margin-top: 10px;
}

.about a{
    text-decoration: none;
    color: 'LightCoral'!important;
}

.version-list{
    position: relative;
    left: -20px;
}

.version-list li{
    list-style: none;
}
