<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>hello</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body class="text-center">

    <div id="graph"></div>

    <div class="form-group text-center">
        <div class="input-group text-center">
            <h4>New Version</h4>
            <input type="text" class="form-control" id="newVersion" placeholder="New Version (eg Test_1.1)">
        </div>

        <div class="input-group text-center">
            <h4>Limited Infection</h4>
            <input type="text" class="form-control" id="targetInfected" placeholder="Target # to infect">
            <button class="btn btn-primary" onclick="limitedInfection()" id="limitedInfectionButton" style="margin-top:3px;">Infect!</button>
        </div>
    </div>

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="static/main.js"></script>

    <script>
        $.ajax({
            url: "http://localhost:5000/users/"
        }).done(function( data ) {
            userGraph(JSON.parse(data))
        });
    </script>

</body>
</html>
